<% provide :title, @micropost.title %>
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4"><%= @micropost.title %></h1>

      <!-- Author -->
      <p class="lead">
        <%= t("by") %>
        <a href="#"><%= link_to @user.name, @micropost.user %></a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p><%= t("posted") %> <%= time_ago_in_words(@micropost.created_at) %> <%= t("ago") %></p>

      <hr>

      <!-- Preview Image -->
      <div class= "text-center">
        <%= image_tag @micropost.picture.url if @micropost.picture? %>
      </div>

      <hr>

      <!-- Post Content -->

      <p><%= @micropost.content %></p>

      <blockquote class="blockquote">
        <footer class="blockquote-footer"><%= t("post_by") %>
          <cite title="Source Title"><%= @user.name %></cite>
        </footer>
      </blockquote>

      <hr>
      <% if logged_in? %>
        <h3><%= t("comments") %> (<%= @micropost.comments.count %>)</h3>
      <% else %>
        <h3><%= t("comments") %> (<%= @micropost.comments.count %>)</h3>
        <div class="alert alert-primary" role="alert">
          <%=t("un_login_alert")%> <%= link_to t("login"), login_path %>
        </div>
      <% end %>

      <!-- Comments Form -->
      <% if logged_in? %>
        <%= form_for(@comment, remote: true) do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <div class="card my-4">
            <h5 class="card-header"><%= t("leave_a_comment") %>:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <%= f.hidden_field :micropost_id, value: @micropost.id %>
                  <%= f.text_area :content, placeholder: "Comment something...",
                    id: "comment_field" %>
                </div>
                <%= f.submit t("post"), class: "btn btn-primary" %>
              </form>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="media mb-4">
        <% if @micropost.comments.any? %>
          <div class="comment" id="micropost_comment">
            <%= render @comments %>
          </div>
        <% end %>
      </div>

      <div class="media mb-4">
        <%= paginate @comments, theme: "twitter-bootstrap-4" %>
      </div>

      <!-- Comment with nested comments -->

    </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header"><%= t("author") %></h5>
            <div class="card-body">
            <center>
              <section class="user_info">
                <h1>
                  <%= gravatar_for(@user, size: 60) %>
                  <%= @user.name %>
                </h1>
                <span><%= pluralize @user.microposts.count, t("micropost") %></span>
              </section>
              <section class="stats">
                <%= render "shared/stats" %>
              </section>
            </center>
            <aside>
              <section>
                <%= render "users/follow_form" if logged_in? %>
              </section>
            </aside>
          </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

<!-- show comment -->

